<div class="plans-section" id="rooms">
  <div class="container">
    <h3 class="title-w3-agileits title-black-wthree">Habitaciones y tarifas</h3>
    <div class="priceing-table-main">
      <div class="price-grid">
        <div class="price-block agile">
          <div class="price-gd-top">
            <img src="images/r1.jpg" alt=" " class="img-responsive" />
            <h4>Habitación de lujo</h4>
          </div>
          <div class="price-gd-bottom">
            <div class="price-list">
              <ul>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
              </ul>
            </div>
            <div class="price-selet">
              <h3><span>$</span>320</h3>
              <a href="#contact">Reservar ahora</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Repetir para las otras 3 habitaciones -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>