<header class="header-top">
  <div class="header-left">
    <button class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="logo">
      <a routerLink="/admin/estado">NEW DAWN - ADMIN</a>
    </div>
  </div>

  <div class="header-right">
    <!-- Admin Badge -->
    <div class="admin-badge" *ngIf="!isLoading">
      <i class="fa fa-shield"></i>
      <span>Administrador</span>
    </div>

    <!-- User Menu -->
    <div class="user-menu" *ngIf="!isLoading">
      <button class="user-button" (click)="toggleUserMenu()">
        <span class="user-avatar" *ngIf="!hasProfilePhoto()">
          {{ getUserInitials() }}
        </span>
        <img 
          *ngIf="hasProfilePhoto()" 
          [src]="getProfilePhotoUrl()" 
          alt="Avatar" 
          class="user-avatar-img"
        />
        <span class="user-name">{{ getUserName() }}</span>
        <i class="fa fa-caret-down"></i>
      </button>
      
      <div class="dropdown-menu" [class.show]="showUserMenu">
        <div class="dropdown-header">
          <div class="dropdown-user-info">
            <span class="dropdown-name">{{ getFullName() }}</span>
            <span class="dropdown-email">{{ getUserEmail() }}</span>
            <span class="dropdown-role">
              <i class="fa fa-shield"></i> Administrador
            </span>
          </div>
        </div>
        
        <div class="dropdown-divider"></div>
        
        <a (click)="goToProfile()" class="dropdown-item">
          <i class="fa fa-user"></i>
          <span>Mi Perfil</span>
        </a>
        
        <div class="dropdown-divider"></div>
        
        <a (click)="logout()" class="dropdown-item logout-item">
          <i class="fa fa-sign-out"></i>
          <span>Cerrar sesión</span>
        </a>
      </div>
    </div>

    <!-- Loading indicator -->
    <div class="loading-avatar" *ngIf="isLoading">
      <div class="spinner"></div>
    </div>
  </div>
</header>