/* About */
.about-wthree {
	padding: 80px 0;
	background: #eceef2;
}

.ab-w3l-spa {
	position: relative;
	padding-bottom: 100px;
}

.about-para-w3ls {
	text-align: center;
	font-size: 16px;
	line-height: 1.8;
	color: #666;
	margin-bottom: 50px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.ab-w3l-spa > img {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}

.w3l-slider-img {
	position: absolute;
	bottom: 20px;
	right: 50px;
	width: 300px;
	border: 8px solid #fff;
	box-shadow: 0 10px 40px rgba(0,0,0,0.25);
	border-radius: 5px;
	overflow: hidden;
	z-index: 2;
}

.w3l-slider-img img {
	width: 100%;
	display: block;
}

.w3ls-info-about {
	background: #ffce14;
	padding: 40px;
	margin-top: 80px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(255, 206, 20, 0.3);
}

.w3ls-info-about h4 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
	font-weight: 700;
	line-height: 1.4;
	margin-top: 0;
}

.w3ls-info-about p {
	color: #fff;
	font-size: 16px;
	margin: 0;
}

/* Responsive */
@media (max-width: 991px) {
	.w3l-slider-img {
		width: 250px;
		right: 30px;
		bottom: 15px;
	}
}

@media (max-width: 768px) {
	.about-wthree {
		padding: 50px 0;
	}
	
	.ab-w3l-spa {
		padding-bottom: 50px;
	}
	
	.w3l-slider-img {
		position: static;
		width: 100%;
		margin-top: 30px;
		border-width: 5px;
	}
	
	.w3ls-info-about {
		margin-top: 30px;
		padding: 30px 20px;
	}
	
	.w3ls-info-about h4 {
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.w3ls-info-about h4 {
		font-size: 18px;
	}
	
	.w3ls-info-about p {
		font-size: 14px;
	}
}